---
import LayoutTienda from "../layouts/LayoutTienda.astro";
---

<LayoutTienda title="Inicio | Tejidos Mágicos" themeColor="#ff6b6b">
  <h2>¡Bienvenida a nuestra tienda!</h2>
  <p>
    Descubre las artesanías más bonitas hechas a mano con dedicación y cariño.
    Navega por nuestro menú para ver todos los productos disponibles. por si
    acaso esta desarrollado por jose luis_xd el futuro inge aqui se puede poner
    fotos, o mas cosas como(promociones, productos en stcok, pedidos)
  </p>
  <a href="/catalogo" class="btn">Ver Catálogo Completo</a>
</LayoutTienda>

<style>
  .btn {
    display: inline-block;
    background-color: var(--theme-color);
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 1rem;
  }
</style>
