---
import Header from "../components/Header.astro";
import Navbar from "../components/Navbar.astro";
import Footer from "../components/Footer.astro";

// Permite personalizar el título y el color principal desde cada página
const { title, themeColor = "#d63384" } = Astro.props;
---

<html lang="es">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{title}</title>
  </head>
  <body style={`--theme-color: ${themeColor};`}>
    <Header />
    <Navbar />

    <main class="container">
      <slot />
    </main>

    <Footer />
  </body>
</html>

<style is:global>
  body {
    margin: 0;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    background-color: #fcfcfc;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  main {
    flex: 1; /* Esto empuja el footer hacia abajo */
  }
  .container {
    max-width: 900px;
    margin: 0 auto;
    padding: 2rem;
  }
</style>
